<!doctype html>
<html lang="en">
<head>
    <title>Staffs</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Quản lý nhân viên
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/staffs">Danh sách nhân viên</a>
                        <a class="dropdown-item" href="/staffs/create">Thêm nhân viên mới</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="card mt-2">
        <div class="card-header">
            Danh sách nhân viên
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Position</th>
                    <th></th>
                </tr>
                <% staffs.forEach((staff, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td>
                            <a href="/staffs/<%= staff.id%>/detail"><%= staff.name %></a>
                        </td>
                        <td><%= staff.salary %></td>
                        <td><%= staff.position %></td>
                        <td class="text-center">
                            <a onclick="return confirm('Are you sure you want to delete this book?')" href="/books/<%= staff.id%>/delete" class="btn btn-danger">Delete</a>
                            <a href="/books/<%= staff.id%>/update" class="btn btn-primary">Update</a>
                        </td>
                    </tr>
                <% }) %>
            </table>
            <% for (let i=1; i<= totalPages; i++) { %>
            <a href="/?offset=<%= i %>" type="button" class="btn btn-primary"><%= i %></a>
            <% } %>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>